Pillow
llama-cpp-python
chromadb
# streamlit==1.32.0
# python-dotenv==1.0.1
# PyPDF2==3.0.1
# python-docx==0.8.11
# python-pptx==0.6.21
# langchain==0.2.0
# langchain-community==0.2.0
# langchain-google-genai
langchain-google==0.2.0
# langchain-groq==0.1.0
groq
# faiss-cpu==1.8.0
# sentence-transformers==2.5.1
huggingface-hub==0.22.0
google-generativeai==0.5.0
streamlit
python-dotenv
PyPDF2
python-docx
python-pptx
langchain
langchain-community
langchain-google-genai
langchain-groq
faiss-cpu
sentence-transformers
docx2txt


