# Core
streamlit
python-dotenv

# LLMs
langchain
langchain-community
langchain-google-genai
langchain-groq

# Embeddings
sentence-transformers   # includes transformers + torch
transformers
torch

# Vector store
faiss-cpu

# File parsing
pypdf                  
PyPDF2
python-docx
python-pptx

# OCR & Images
easyocr
Pillow
numpy
pillow

# Utils
requests

pytesseract

