streamlit>=1.20
python-dotenv
PyPDF2
python-docx
python-pptx
langchain
langchain-community
langchain-google-genai
sentence-transformers
faiss-cpu
Pillow
langchain-groq
requests
xlrd==1.2.0   # untuk .xls (versi baru xlrd drop dukungan xlsx)
openpyxl
pandas>=1.0
matplotlib
seaborn
